.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 100px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form {
  border: thin solid red;
  padding: 2rem;
  margin: 2rem;
  display: flex;
}
 
.formtext {
  position: relative;
  top: -48px;
  background: white;
  padding: 7px;
  width: 90px;
  color: red;
}

input{
  text-align:center;
}

.history{
        text-align:left;
}

.history-header{
        background-color:brown;
}

.error{
        color:red;
        font-weight:bolder;
        
}
